.sys{
    &__textarea{
        display: none;
    }
    &__toolbar{
        position: fixed;
        left: 1%;
        top: 10%;
        border: 1px solid black;
        background-color: white;
        text-align: center;
        &:hover{
            opacity: 0.3;
        }
        &-cta{
            min-width: 100px;
            line-height: 30px;
        }
    }
}